@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F3CA40;
	font-family: 'IBM Plex Sans', sans-serif;
}

.main {
	margin: 150px auto;
	margin-bottom: 50px;
	padding: 30px;
	width: 100%;
	max-width: 380px;
	border-radius: 1em;
	box-shadow: -10px 10px 5px #264653;
	background: #F2A541;
	position: relative;
}

.title {
	width: 250px;
	text-align: center;
	background: #264653;
	border-radius: .5em;
	position: absolute;
	top: -34px;
	left: 65px;
}

h1 {
	padding: 10px;
	color: white;
	font-family: 'Pacifico', cursive;
}

.bill {
	margin-top: 35px;
}

.tipChoice,
.tipPercent,
.billSplit {
	margin-top: 10px;
}

input[type=number] {
	margin-top: 5px;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: .25em;
	background: #ecf0f1;
}

.tipPercent {
	height: 30px;
	width: 100px;
	font-size: 15px;
	border: none;
	outline: none;
	background: #ecf0f1;
}

input[type=submit] {
	margin-top: 30px;
	height: 40px;
	width: 100px;
	background: #264653;
	border: none;
	border-radius: .5em;
	font-size: 1em;
	color: white;
	outline: none;
}

input[type=submit]:hover {
	cursor: pointer;
}

.billSplit input[type=number] {
	width: 100px;
}

.result {
	margin-top: 10px;
}

.result p {
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
}

.red-glow {
	color: #CC2936;
}

.credits {
	text-align: center;
}

.credits a {
	color: #000;
	text-decoration: none;
}

.credits a:hover {
	color: blue;
}

/* Modal CSS */

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	transition: 0.3s all ease;
	height: 100%;
	width: 100%;
	padding: 20px;
	background: rgba(200, 172, 78, .8);
}

.modal-content {
	margin: 3rem auto;
	width: 80%;
	max-width: 640px;
	padding: 4rem 2rem;
	position: relative;
	border-radius: 8px;
	background: #264653;
	text-align: center;
	animation: 0.3s slidedown;
}

@keyframes slidedown {
	from {
		top: -100px;
		opacity: 0;
	}

	to {
		top: 0px;
		opacity: 1;
	}
}

.open {
	display: block;
}

.modal-header {
	color: #fff;
}

.close {
	position: absolute;
	left: 10px;
	top: 0;
	background: transparent;
	color: #ebebee;
	outline: none;
	border: none;
	font-size: 4rem;
}

.close:hover {
	cursor: pointer;
}

.modal-body {
	color: #fff;
}

@media (max-width: 740px) {
	.main {
		margin-top: 120px;
		width: 300px;
	}

	.title {
		left: 25px;
	}
}